html, body{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 0;
    overflow: hidden;
}
#game{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
#lobby{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: rgb(139, 86, 139);
    font-size: 15px;
}
#waiting{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background: rgb(116, 116, 168);
    font-size: 15px;
}

#container1{
    height: 100vh;
    display: inline-block;
    float: left;
}

#field{
    border-top: 1px solid black;
    background: darkgray;
    width: 80vw;
    height: 30vh;
}
#decks{
    background: gray;
    border-right: 1px solid black;
    width: 30vw;
    height: 70vh;
    display: inline-block;
    float: left;
    margin-left: -1px;
}
#sidebar{
    background: lightgray;
    border-left: 1px solid black;
    margin-right: -1px;
    width: 20vw;
    height: 100vh;
    display: inline-block;
}
#opp{
    background: gray;
    width: 50vw;
    height: 70vh;
    display: inline-block;
}
.card{
    width: 6vw;
    height: 8vw;
    display: inline-block;
    box-sizing: border-box;
}
.card img{
    position: absolute;
    width: 6vw;
    height: 8vw;
    box-sizing: border-box;
}
.card span{
    position: absolute;
    z-index: 2;
    font-size: 30px;
    color: white;
    text-emphasis: bold;
    background-color: rgba(0,0,0,0.5)
}
.card:hover img{
    border: 3px solid red;
    box-shadow: inset 0px 0px 0px 10px red;
}

#stats{
    font-size: 12px;
}